 <link rel="stylesheet" href="style.css" type="text/css"/>

p{
  color: beige;
  font-family: trajan;
}
ul{
  color: beige;
  font-family: trajan;
}
ol{
  color: beige;
  font-family: trajan;
}
h1{
  color: beige;
  font-family: trajan;
}
header{
  color: beige;
  font-family: trajan;
}
body{
  color: beige;
  font-family: trajan;
}
footer{
  color: beige;
  font-family: trajan;
}

